#zrefcopier-form * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    font-size: 14px;
    line-height: 120%;
}


#zrefcopier-form-container {
    width: 500px;
    max-width: 100%;
    height: calc(100% - 100px);
    max-height: 500px;
}
#zrefcopier-form {
    display: flex;
    flex-direction: column;
    position: relative;

    width: 100%;
    height: 100%;
    xmargin-top: 80px;
    xmax-height: none;
    xmax-height: calc(100% - 60px); /* for closing on small screens, mobiles... */
    xmax-height: 800px;
    xoverflow: auto;

    background: orange;
    padding: 16px; /* GM, google material */
}
#zrefcopier-view > blockquote {
    font-style: normal;
}
#zrefcopier-view > blockquote * {
    font-style: inherit;
}
#zrefcopier-view > blockquote i {
    font-style: italic;
}

#zrefcopier-view > hr:nth-child(1) {
    display: none;
}
#zrefcopier-view > hr:nth-last-child(1) {
    display: none;
}
#zrefcopier-view > hr {
    display: block;
    height: 5px;
    background: orange;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#zrefcopier-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 30, 30, 0.7);
    z-index: 100;
}

#zrefcopier-form h3 {
    font-size: 140%;
    font-weight: bold;
}

/* #zrefcopier-button-div { */
/*     xmargin-bottom: 10px; */
/* } */
/* #zrefcopier-button-div a { */
/*     text-decoration: none; */
/* } */
/* #zrefcopier-close-div { */
/*     text-align: right; */
/*     padding-right: 6px; */
/*     cursor: pointer; */
/* } */
#zrefcopier-closeform {
    position: absolute;
    right: 7px;
    top: 3px;
    text-decoration: none;
    color: #9197A3;
    cursor: pointer;
}
#zrefcopier-closeform:hover {
    color: black;
}

#zrefcopier-inner-controls {
    width: 100%;
    display: inline-block;
}
#zrefcopier-outer-controls {
    flex: 0 0 auto;
    xwidth: calc(100% - 150px);
    width: 100%;
    margin-bottom: 20px;
}
#zrefcopier-selectall {
    position: absolute;
    z-index: 2;
    right: 35px;
    /* top: -18px; Another chrome bug, this goes under the containing block */
    top: -18px;
    display: inline-block;
    padding: 4px;
    background: black;
    color: orange;
    box-shadow: 4px 4px rgba(0,0,0,0.2);
    cursor: pointer;
}
#zrefcopier-selectall:hover {
    color: yellow;
}

#zrefcopier-url {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

/* http://jsfiddle.net/lborgman/d7424ybr/1/ */
#zrefcopier-view-container {
    display: flex;
    align-content: stretch;
    flex-direction: column;

    flex: 1;
    position: relative;
    margin-bottom: 0;
    xoverflow-y: auto;
}
#zrefcopier-view {
    flex: 1;
    xheight: 420px;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    border: 2px inset #ddd;
    background-color: #ffe;
    padding: 8px;
    overflow-y: auto;
}

#zrefcopier-header {
    flex: 0 0 auto;
    margin-bottom: 20px;
    width: 90%;
}
#zrefcopier-header * {
    font-style: italic;
    color: #555;
}
#zrefcopier-header a:hover {
    color: black;
}

#zrefcopier-copy {
    display: none;
    background: #E6B996;
    padding: 12px;
    box-shadow: 10px 12px 5px rgba(0,0,0,0.5);
}
#zrefcopier-form label {
    display: inline-block;
    margin-right: 10px;
}
#zrefcopier-view .zreader-received {
    margin-bottom: 30px;
}

.csl-entry { width: 100%; }
