/*
 * Skeleton V1.2
 * Copyright 2011, Dave Gamache
 * www.getskeleton.com
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 6/20/2012
 */


/* Table of Content
   ==================================================
   #Reset & Basics
   #Basic Styles
   #Site Styles
   #Typography
   #Links
   #Lists
   #Images
   #Buttons
   #Forms
   #Misc */


/* #Reset & Basics (Inspired by E. Meyers)
   ================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
body {
    line-height: 1; }
ol, ul {
    list-style: none; }
blockquote, q {
    quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none; }
table {
    border-collapse: collapse;
    border-spacing: 0; }

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* #Basic Styles
   ================================================== */
body {
    background: #fff;
    font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}


/* #Typography
   ================================================== */
h1, h2, h3, h4, h5, h6 {
    color: #181818;
    font-family: "Georgia", "Times New Roman", serif;
    font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
h5 { font-size: 17px; line-height: 24px; }
h6 { font-size: 14px; line-height: 21px; }
.subheader { color: #777; }

p { margin: 0 0 20px 0; }
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #777;  }

em { font-style: italic; }
strong { font-weight: bold; color: #333; }
small { font-size: 80%; }

/*	Blockquotes  */
blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
   ================================================== */
a, a:visited { color: #333; text-decoration: underline; outline: 0; }
a:hover, a:focus { color: #000; }
p a, p a:visited { line-height: inherit; }


/* #Lists
   ================================================== */
ul, ol { margin-bottom: 20px; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
li { line-height: 18px; margin-bottom: 12px; }
ul.large li { line-height: 21px; }
li p { line-height: 21px; }

/* #Images
   ================================================== */

img.scale-with-grid {
    max-width: 100%;
    height: auto; }


/* #Buttons
   ================================================== */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    background: #eee; /* Old browsers */
    background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
    background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
    background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
    background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
    background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
    background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-radius: 3px;
    color: #444;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    cursor: pointer;
    margin-bottom: 20px;
    line-height: normal;
    padding: 8px 10px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    color: #222;
    background: #ddd; /* Old browsers */
    background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
    background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
    background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
    background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
    background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
    background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
    border: 1px solid #888;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa; }

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
    border: 1px solid #666;
    background: #ccc; /* Old browsers */
    background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
    background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
    background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
    background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
    background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
    background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center; }

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* #Forms
   ================================================== */

form {
    margin-bottom: 20px; }
fieldset {
    margin-bottom: 20px; }
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    border-radius: 2px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #fff; }
select {
    padding: 0; }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow:  0 0 3px rgba(0,0,0,.2); }
textarea {
    min-height: 60px; }
label,
legend {
    display: block;
    font-weight: bold;
    font-size: 13px;  }
select {
    width: 220px; }
input[type="checkbox"] {
    display: inline; }
label span,
legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444; }

/* #Misc
   ================================================== */
.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 10px !important; }
.add-bottom { margin-bottom: 20px !important; }

/* skeleton.css */
/*
 * Skeleton V1.2
 * Copyright 2011, Dave Gamache
 * www.getskeleton.com
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 6/20/2012
 */


/* Table of Contents
   ==================================================
   #Base 960 Grid
   #Tablet (Portrait)
   #Mobile (Portrait)
   #Mobile (Landscape)
   #Clearing */





/* #Clearing
   ================================================== */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
   or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
.row:after,
.clearfix:after {
    clear: both; }
.row,
.clearfix {
    zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}



/* *************************************************
   My own */

#main {
    margin: 10px;
    margin-top: 6px;
    xdisplay: flex;
}
div#output {
    display: flex !important;
    flex-direction: column;
    margin-top: 0px;
}
div#output-details {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.drow {
    flex: 1 1 auto;
    margin-bottom: 10px;
    margin-right: 10px;
    background: #e8f0d8;
    padding-right: 10px;
    display: inline-block;
}
.dt {
    font-weight: bold;
    background: #ffae4d;
    color: #A87334;
    padding: 1px;
    padding-left: 4px;
    padding-right: 8px;
    margin-right: 8px;
    border-bottom-right-radius: 20px 30px;
    xfloat: left;
    vertical-align: top;
}
.dd {
    padding: 4px;
    display: inline-block;
}
a.linked-url {
}
a.related-item {
}
.note {
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}
a#copy-ref {
    background: black;
    color: orange;
    padding: 20px;
    text-decoration: none;
}
a#copy-ref:hover {
    color: yellow;
}
#cite {
    background: orange;
    padding: 4px;
    cursor: pointer;
}
#cite:hover {
    background: yellow;
}
#libinfolink:hover {
    background: yellow;
}
#cite > img {
    width: 14px;
    height: 14px;
}
#ref-title {
    font-size: 24px;
    xline-height: 30px;
    margin-bottom: 6px;
    line-height: 100%;
    max-width: 600px;
}
#ref-title a {
    text-decoration: none;
}
a:hover {
    color:green;
}


.h1-title {
    display: inline;
}

/*************************************************
 * Attachments */

#output-attachments {
    background: #EFEFDD;
    background: #ffe397;
    background: #ffda76;
    xbackground: linear-gradient(to bottom, #ffda76 0%,#ff9576 100%) !important;
    background: linear-gradient(to bottom, #ffe397 0%,#ffaf97 100%) !important;
    padding: 8px;
    margin-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
}
#output-attachments div {
    display: inline-block;
    vertical-align: top;
    xborder: 1px solid black;
    overflow: hidden;
}
#output-attachments .attachment {
    display: inline-block;
    vertical-align: top;
    margin: 2px;
    max-width: 400px;
    padding: 6px;
    padding-right: 4px;
    line-height: 100%;
    xborder-radius: 20px / 50%;
    border-radius: 10px;
    xborder: solid red 2px;
    border: 2px solid transparent;
}
#output-attachments .attachment img {
    margin-right: 6px;
}
#output-attachments .attachment a, #output-attachments a.attachment {
    text-decoration: none;
}
#output-attachments div.etc-label-div {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
#output-attachments .etc-label {
    font-weight: bold;
}
details#zot-rel-problems {
    display:inline;
    margin-left:10px;
}
details#zot-rel-problems summary {
    cursor: pointer;
    vertical-align: text-top;
}
details#zot-rel-problems span {
    display: inline-block;
    vertical-align: text-top;
    border-radius: 20px;
    padding: 10px;
    background: white;
    max-width: 400px;
    margin-top: 10px;
}
#output-attachments .outer-container {
}
#output-attachments .inner-container {
    vertical-align: top;
}
#output-attachments a.attachment:hover {
    border: 2px yellow solid;
}
#output-attachments .attachment.color-facebook {
    background: #BEE9FF;
    border-radius: 10px;
    max-width: 210px;
}
#output-attachments .attachment.color-full { background: #ffae97; }
#output-attachments .attachment.color-annotation { background: #beaa73; }
#output-attachments .attachment.color-pubmed {
    border-radius: 3px;
    background: #aaa;
}
#output-attachments .attachment.color-book {
    background: cornsilk;
}
#output-attachments .attachment.color-related {
    background: orange;
}
#output-attachments .attachment.color-other {
    background: white;
    border-top-left-radius: 0;
}


div.br {
    xline-height: 10px;
    height: 7px;
    font-size: 1px;
}
i {
    font-style: italic;
}
/* button#cite-div { */
/*     height: 20px; */
/*     padding-top: 0; */
/*     padding-bottom: 0; */
/* } */
span#cite-div {
    cursor: pointer;
}
span#cite-div:hover {
    color: green;
}
label.tag {
    margin-right: 12px;
    display: inline-block;
    cursor: pointer;
}
label.tag:hover {
    background: #ffc;
}
label.tag.checked-tag {
    background: #cf0;
}
#search-tags {
    background: #cf0;
    padding: 6px;
}
#search-tags-div {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}




/*
  Header
  ======*/
#header-div {
    display: flex;
    justify-content: flex-end;
}

#upper-right-links {
    margin-top: 0px;
    text-align: right;
}
#upper-right-links a {
    display: inline-block;
}
#lib-title {
    text-transform: capitalize;
    xfont-size: 35px;
    xline-height: 40px;
    xmargin-bottom: 10px;
    color: #005E8E;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}
#lib-pre-popup {
}
#lib-popup {
    text-align: right;
}

#libinfo {
    display: none;
    padding: 20px;
    border: 1px solid #eee;
    background: #f1faff;
    margin-bottom: 20px;
}
#libinfo .libinfo-header {
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 10px;
}
#libinfo .libinfo-header a {
    text-transform: capitalize;
}
#libinfolink {
    text-decoration: none;
    padding: 4px;
}
#libinfolink img {
    width: 17px;
    height: 17px;
    border: 1px solid grey;
    border-radius: 50%;
    padding: 2px;
}
#libinfo-items-link {
    color: #999;
}
#libinfo-items-link a {
    color: #999;
    text-decoration: none;
}
#libinfo-items-link a:hover {
    text-decoration: underline;
}
/* A little fun with searching!
   ============================ */
.circle {
    border-radius: 50%;
}
#glass {
    opacity: 0.8;
    background-image: radial-gradient(45px 45px, circle cover, #FF0, #FFA500);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, #B4F6FC, #046ABB);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px; 
}
#glass2 {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 4px outset #666;
    width: 100px;
    height: 100px; 
    display: block;
    cursor: default;
}
.glass-rod {
    transform: rotate(-45deg);
}
#glass-rod1 {
    width: 10px;
    height: 120px;
    position: absolute;
    top: 65px;
    left: 120px;
    background-color: #350;
}
#glass-cont * {
    box-sizing: border-box;
}
#glass-cont {
    transition: opacity 1.2s;
    opacity: 0.07;
    width: 100px;
    height: 100px;
    xposition: absolute;
    xleft: 35%;
    xtop: -20px;
    display: block;
    transform: scale(0.6) rotate(-27deg);
    z-index: 4;
    margin-top: -15px;
    margin-bottom: -5px;
}
/* #glass-cont:hover { */
/*     opacity: 1; */
/*     transition: opacity 1s; */
/* } */
#glass-search {
    position: absolute;
    top: 20px;
    left: 20px;
    background: white;
    padding: 8px;
    font-size: 18px;
}

#glass-outer {
    xposition: relative;
    xmargin-right: 30%;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
}
.glass-searchable, .glass-searchable * {
    cursor: pointer !important;
    opacity: 1.0 !important;
}
@media screen and (max-width: 500px) {
    #glass-outer {
        transform: scale(0.7);
    }
    #ref-title {
        font-size: 18px;
    }
    div#output {
        xmargin-top: 10px;
    }
}


/* External links
   ============================================== */
a[target]::after {
    margin-left: 5px;
    content: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIj48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtODI2LjQyOSAtNjk4Ljc5MSkiPjxyZWN0IHdpZHRoPSI1Ljk4MiIgaGVpZ2h0PSI1Ljk4MiIgeD0iODI2LjkyOSIgeT0iNzAyLjMwOSIgZmlsbD0iI2ZmZiIgc3Ryb2tlPSIjMDZjIi8+PGc+PHBhdGggZD0iTTgzMS4xOTQgNjk4Ljc5MWg1LjIzNHY1LjM5MWwtMS41NzEgMS41NDUtMS4zMS0xLjMxLTIuNzI1IDIuNzI1LTIuNjg5LTIuNjg5IDIuODA4LTIuODA4LTEuMzExLTEuMzExeiIgZmlsbD0iIzA2ZiIvPjxwYXRoIGQ9Ik04MzUuNDI0IDY5OS43OTVsLjAyMiA0Ljg4NS0xLjgxNy0xLjgxNy0yLjg4MSAyLjg4MS0xLjIyOC0xLjIyOCAyLjg4MS0yLjg4MS0xLjg1MS0xLjg1MXoiIGZpbGw9IiNmZmYiLz48L2c+PC9nPjwvc3ZnPg==);
}

/* Zotero
   ========================= */
.zotero-name {
    font-family: sans-serif;
    display: inline-block;
}
.zotero-name::first-letter {
    color: #be0d0d !important;
}
#zotero1 {
    font-size: 18px;
}


/* Columns
   ============================================== */
/* OLD */
/* .newspaper-cols { */
/*     column-width: 250px; */
/*     -webkit-column-width: 250px; */
/*     -moz-column-width: 250px; */

/*     column-rule: 1px solid #efefef; */
/*     -webkit-column-rule: 1px solid #efefef; */
/*     -moz-column-rule: 1px solid #eee; */

/*     column-gap: 40px; */
/*     -webkit-column-gap: 40px; */
/*     -moz-column-gap: 40px; */

/*     margin-left: 0px !important; */
/* } */
/* @media only screen and (min-width: 768px) { */
/*     .newspaper-cols { -webkit-column-width: 300px; } */
/* } */
/* @media only screen and (min-width: 1300px) { */
/*     .newspaper-cols { -webkit-column-width: 350px; } */
/* } */


/***********************
 * TEST ************/

.no-newspaper-cols {
    max-width: 550px;
}

/* mkCss3Columns("newspaper-cols", 550, null); */
.newspaper-cols {
-webkit-column-rule: 1px solid #efefef;
-webkit-column-gap: 40px;
-webkit-column-width: 255px;
}
@media only screen and (min-width: 610px) {
.newspaper-cols {
-webkit-column-width: 273px;
}
}
@media only screen and (min-width: 966px) {
.newspaper-cols {
-webkit-column-width: 287px;
}
}
@media only screen and (min-width: 1380px) {
.newspaper-cols {
-webkit-column-width: 309px;
}
}
